@import '../../styles/constants.scss';

.marked-status {
  color: $color-main-darker;

  &_success {
    color: $color-marked;
  }

  &_failed {
    color: $color-failed;
  }

  &_deffered {
    color: $color-deffered;
  }
}
