@import '../../styles/constants.scss';
@import '../../styles/mixines.scss';

.product-page {
  @include main-container;
  display: flex;
  flex-direction: column;

  &__main {
    flex-grow: 1;
    align-items: center;
    padding: 40px;
  }
  &__block-compare {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
