@import '../../styles/constants.scss';
@import '../../styles/mixines.scss';

.product-page {
  @include main-container;
  display: flex;
  flex-direction: column;

  &__main {
    flex-grow: 1;
    align-items: center;
    padding: 40px;
  }
  &__block-compare {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__list-wrapper {
    min-height: 215px;

    &_loading {
      display: flex;
    }
  }

  &__spinner {
    margin: auto;
  }
}

.markup-controls {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
