%font-main {
  font-family: 'DIN Pro', Arial, sans-serif;
}

$color-main: #fff;
$color-main-darker: rgba(0, 0, 0, 0.45);
$color-main-dark: rgba(0, 0, 0, 0.88);
$color-bg-white: #f4f4f5;
$color-marked: #00b959;
$color-failed: #cf1322;
$color-deffered: #ecb10e;

// Popups

$visibility-transition:
  visibility 0s linear 0.3s,
  opacity 0.3s;

$visibility-opened-transition:
  visibility 0s linear 0s,
  opacity 0.3s;

$color-background-padding: #1721445d;

// Links

$link-hover-opacity: 0.7;
$link-hover-transition: 0.3s ease;
