@import '../../styles/constants.scss';

.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: $color-bg-white;
  &__copywriter {
    font-size: 14px;
    line-height: 20px;
  }
}
