@import '../../styles/constants.scss';

#custom-nav {
  justify-content: center;
  border-radius: 12px;
  // text-align: center;
  font-size: 18px;
  letter-spacing: 1.5px;

  .ant-menu-submenu-selected::after {
    display: none;
  }
}
