@import '../../styles/constants.scss';

#custom-nav {
  justify-content: center;
  margin: 15px 0;
  border-radius: 12px;
  text-transform: none;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.5px;

  .ant-menu-submenu-title {
    color: rgba(56, 164, 58, 1);
  }
  .ant-menu-submenu-selected::after {
    border: none;
  }
}
.ant-menu-light .ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected {
  background-color: rgba(77, 214, 79, 0.2);
  .ant-menu-title-content {
    color: $color-main-dark;
  }
}
